
.header1{
	width:100%;
	height:100px;
	background-color:red;
	float:left;
	color:white;
}

.navbar{
	width:100%;
	height:60px;
	background-color:black;
	float:left;
	color:white;
}


.banner{
	width:100%;
	height:250px;
	background-image:url('banner.jfif');
	background-size:100% 100%;  
	float:left;
	color:white;
}

.sidebar{
	width:15%;
	height:600px;
	background-color:lightGray;
	float:left;
	color:white;
}

.mainbar{
	width:70%;
	height:600px;
	background-color:orange;
	float:left;
	color:white;
}

.mainbox{
	width:33%;
	float:left;
	color:white;
}



.footer{
	width:25%;
	height:100px;
	background-color:black;
	float:left;
	color:white;
}