		
		h1,h2{
			color:red;
			background-color:yellow;
			text-align:center;
		}
		
		.test1{
			color:red;
			background-color:pink;
		}
		.test2{
			text-align:center;
			text-transform:uppercase;
		}
		#demo1{
			color:green;
			background-color:blue;
		}
		
		.mydiv{
			width:50%;
			height:200px;
			background-color:red;
		}
		
		.mydiv h3{
			text-align:center;
			font-size:50px;
			color:white;
		}
		